:root {
    --primary-color: #7545FF;
    --text-color: #344D5E;
    --background-color: #F3F3F3;
    --border-color: #D7D7D7;
    --font-family: Roboto, Arial, sans-serif;
    --title-font-size: 32px;
    --title-font-weight: 800;
    --subtitle-font-size: 20px;
    --subtitle-font-weight: 700;
    --body-font-size: 16px;
    --body-font-weight: 400;
    --button-background-color: #FFFFFF;
    --modal-background-color: #EAECF0;
    --link-button-background-color: #F8FAFC;
    --close-button-color: #464646;
    --error-message-color: #6b7280;
    --link-text-decoration: none;
    --nav-item-gap: 10px;
    --topics-padding: 10px;
    --topic-item-border-radius: 8px;
    --topic-item-font-size: 13px;
    --additional-categories-margin-left: 5%;
    --content-padding: 20px;
    --content-max-width: 1050px;
    --main-content-margin-right: 20px;
    --sidebar-width: 300px;
    --link-button-width: 138px;
    --link-button-height: 45px;
    --link-button-border-radius: 12px;
    --modal-content-width: 80%;
    --modal-content-max-width: 680px;
    --modal-border-radius: 20px;
    --modal-title-font-size: 30px;
    --modal-travel-title-color: #000000;
    --modal-title-font-weight: 600;
    --modal-travel-title-font-weight: 700;
    --plan-now-background-color: #000000;
    --modal-question-padding: 15px;
    --modal-question-border-radius: 10px;
    --close-button-font-size: 30px;
    --close-button-font-weight: 100;
    --error-message-font-weight: 500;
    --error-message-font-size: 14px;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
}

h2 {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--text-color);
}

h3 {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    color: var(--text-color);
}

p {
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    color: var(--text-color);
}

a {
    text-decoration: var(--link-text-decoration);
    color: var(--primary-color);
}

hr {
    width: 90%;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    height: 70px;
    padding: 0 60px;
}

.navbar-section {
    display: flex;
    gap: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: var(--nav-item-gap);
    text-decoration: var(--link-text-decoration);
    color: white;
}

.nav-item img,
.ask-button img {
    width: 24px;
    height: 24px;
}

.navbar-mobile,
.navbar-mobile-button {
    display: none;
    cursor: pointer;
}

.ask-button {
    display: flex;
    align-items: center;
    background-color: var(--button-background-color);
    color: var(--text-color);
    font-weight: var(--title-font-weight);
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 12px 24px;
    gap: var(--nav-item-gap);
    cursor: pointer;
}

.topics {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--button-background-color);
    padding: var(--topics-padding);
    overflow-x: auto;
}

.topics-frame {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 1050px;
    white-space: nowrap;
}

.topic-item {
    display: flex;
    align-items: center;
    gap: var(--nav-item-gap);
    text-decoration: var(--link-text-decoration);
    color: var(--text-color);
    font-size: var(--topic-item-font-size);
    font-weight: 500;
    border: 1px solid var(--border-color);
    border-radius: var(--topic-item-border-radius);
    padding: 0px 5px;
    height: 40px;
}

.topic-item img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid white;
}

.additional-categories {
    display: flex;
    align-items: center;
    gap: -5px;
    border-radius: var(--topic-item-border-radius);
    padding: 0px 10px;
    height: 40px;
    border: 1px solid var(--border-color);
    margin-left: var(--additional-categories-margin-left);
}

.additional-categories img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid white;
    position: relative;
    z-index: 1;
}

.additional-categories img+img {
    margin-left: -10px;
    z-index: 2;
}

.additional-categories img+img+img {
    margin-left: -10px;
    z-index: 3;
}

.more-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: white;
    font-size: 11px;
    font-weight: 700;
    margin-left: -10px;
    z-index: 4;
    border: 1px solid white;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: var(--content-padding);
    max-width: var(--content-max-width);
    margin: 5px auto;
}

.main-content {
    flex-grow: 1;
    margin-right: var(--main-content-margin-right);
    background-color: white;
    border-radius: var(--modal-border-radius);
    border: 1px solid var(--modal-background-color);
    padding: 20px;
}

.sidebar {
    height: 100%;
    border: 1px solid var(--modal-background-color);
}

.link-button {
    display: block;
    width: var(--link-button-width);
    height: var(--link-button-height);
    background-color: var(--link-button-background-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
    border-radius: var(--link-button-border-radius);
    border: 1px solid var(--modal-background-color);
    text-decoration: none;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    position: relative;
}

.background-avatar {
    position: absolute;
    width: 28.5px;
    height: 28.5px;
    background-color: #F5416D;
    z-index: 0;
    border-radius: 10px;
    left: 0;
    bottom: 0;
}

.author-info .avatar {
    width: 28.5px;
    height: 28.5px;
    border-radius: 10px;
    border: 1.5px solid white;
    z-index: 1;
    left: 10px;
}

.author-text {
    display: flex;
    flex-direction: column;
}

.author-text p {
    margin: 0;
    font-weight: bold;
}

.details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details .fenomen {
    border: 1.5px solid #334D5E33;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #334D5EB2;
}

.details .xper {
    font-size: 0.75rem;
    color: #334D5E;
}

.post-image {
    width: 682px;
    height: 486px;
    border-radius: 16px;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: white;
    border-radius: var(--modal-border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.related-link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    padding-bottom: 24px;
}

.related-link:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--modal-background-color);
    display: block;
}

.plan-vacation-trigger {
    position: fixed;
    right: 60px;
    bottom: 20px;
    width: 120px;
    height: 120px;
    z-index: 1000;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1001;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--modal-content-width);
    max-width: var(--modal-content-max-width);
    padding: 30px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    border-radius: var(--modal-border-radius);
}

.modal-title {
    font-size: var(--modal-title-font-size);
    font-weight: var(--modal-title-font-weight);
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.plan-now {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: var(--plan-now-background-color);
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 25px;
    margin-top: 20px;
    text-align: center;
}

.modal-question {
    text-align: left;
    display: block;
    background-color: var(--modal-background-color);
    padding: var(--modal-question-padding);
    margin-top: 18px;
    border-radius: var(--modal-question-border-radius);
    color: inherit;
    text-decoration: none;
    border: 1px solid white;
}

.modal-alt-title {
    color: black;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

.modal-article {
    color: black;
    opacity: 0.5;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.modal-travel-title {
    color: var(--modal-travel-title-color);
    font-weight: var(--modal-travel-title-font-weight);
    text-align: left;
    font-size: 20px;
}

.modal-travel-article {
    color: var(--modal-travel-title-color);
    font-weight: var(--body-font-weight);
    text-align: left;
    font-size: var(--body-font-size);
    margin-left: -20px;
    margin-top: -5px;
}

.modal-input {
    border: none;
    background-color: #dddfe4;
    outline: none; 
    padding: 10px;
    border-radius: 7px;
}

.close {
    position: absolute;
    right: 30px;
    top: 40px;
    color: var(--close-button-color);
    font-size: var(--close-button-font-size);
    font-weight: var(--close-button-font-weight);
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

#error-message {
    display: none;
    color: var(--error-message-color);
    font-weight: var(--error-message-font-weight);
    font-size: var(--error-message-font-size);
    margin-bottom: -8px;
    transition: 0.5s ease all;
}

#loadingModal .modal-content {
    padding: 20px;
    text-align: center;
}

#loadingModal img {
    width: 150px;
    height: 150px;
    margin: 10px 0;
}

#loadingModal h2,
#loadingModal p {
    margin: 20px 0;
}

.modal-image {
    width: 100%;
    border-radius: 10px;
}

.travel-list {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.travel-list li {
    margin-bottom: 10px;
    font-size: 14px;
}

.info-box {
    background-color: var(--modal-background-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.button-logo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore-now {
    background-color: var(--plan-now-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    width: 149px;
    height: 39px;
}

.airlines-logo {
    height: 39px;
    opacity: 1;
}

.info-box h4 {
    margin: 0;
}

.info-box p {
    flex-grow: 1;
    padding: 0 20px;
}

.topics::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1024px) {

    .navbar-section.navbar-left,
    .navbar-section.navbar-right {
        display: none;
    }

    .navbar-section.navbar-center {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-mobile-button {
        display: block;
        position: absolute;
        left: 10px;
        top: 22px;
        z-index: 101;
    }

    .navbar-mobile {
        display: none;
        position: fixed;
        width: 70%;
        height: 100%;
        background-color: #ffffff;
        left: -100%;
        top: 0;
        z-index: 1000000;
        transition: left 0.3s;
    }

    .nav-item {
        display: flex;
        align-items: center;
        gap: var(--nav-item-gap);
        text-decoration: var(--link-text-decoration);
        color: var(--text-color);
        font-weight: var(--subtitle-font-weight);
        padding: 20px;
    }

    .navbar-overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .ask-button {
        background-color: var(link-button-background-color);
        padding: 20px;
    }

    .navbar-mobile.active+.navbar-overlay {
        display: block;
    }

    .navbar-mobile.active {
        display: block;
        left: 0;
    }

    .modal-title {
        font-size: 20px;
    }

    .modal-alt-title,
    .modal-travel-title {
        font-size: 14px;
    }

    .modal-article,
    .modal-travel-article,
    .travel-list li,
    .info-box h4,
    .info-box p,
    .plan-now {
        font-size: 12px;
    }

    .close {
        top: 30px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }

    .main-content {
        margin-left: 20px;
        margin-bottom: 2%;
    }

    .main-content,
    .sidebar {
        width: 100%;
    }

    .main-content img {
        width: 90%;
        height: 200%;
    }

    .topics {
        justify-content: flex-start;
    }

    .additional-categories {
        margin-left: 0;
    }

    .modal-content {
        width: 90%;
        margin: 10% auto;
        margin-top: -5px;
        padding: 18px;
    }

    .modal-question {
        margin-top: 5px;
    }

    .explore-now {
        width: 50%;
        font-size: 12px;
    }

    .airlines-logo {
        width: 40%;
    }
}